@font-face {
  font-family: aestheticfont;
  src: url("../assets/fonts/Mansory-SemiBold.otf");
}

*{
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-family: aestheticfont;
}
img.about{
  width: 200px ;
  height: 200px ;
  background-color: lightgray;
}
div.about{
  display: flex;
  background-color: white;
}

/* Slider */
/* Slider */


.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 30px 0px;
}
.slider-item {
  width: 90%;
  display: flex;
  align-items: center;
  padding: 10px 40px;
}


@media (max-width: 900px) {
    .slider-item{
        flex-direction: column;
    }

    .slider-item div {
        order: 1;
    }
}

.slider-item div {
  padding: 10px;
}

.slider-item img {
  width: 400px;
  height: 250px;
  border-radius: 7px;
}

.slider p {
  margin: 15px 0px;
}

.slider button {
  background-color: #0C0D0D;
  height: 35px;
  width: 150px;
  border: none;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.slider-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 20px;
}

.slider-btn img {
  cursor: pointer;
}

/* About */
.about{
  margin: 50px 0;
  padding: 20px 40px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.about>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-title{
  font-size: 30px;
  margin-bottom: 10px
}

.about-description{
  width: 80%
}
.about img{
  width: 300px;
  height: 200px;
}
.mapa{
  width: 100%;
  height: auto;
  flex: 50%;
  justify-content: center;
}
.mapa iframe{
  width: 100%;
  height: 500px;
  
}
h1{
  text-align: center;
}
p.about-description{
  width: 55%;
  font-size: 16pt;
  background-color: lightgray;
}
div.about{
  justify-content: center;
  display: flex;
  width: 85%;
}